p{color:orange;font-size:50px;}
h1{color:blue}
#bluetext{color:purple;font-size: 80px}
#greentext{color:brown;}
#redtext{color:orange;font-size: 110px}
#bigtext{color:gold; font-size: 35px;}
.greentext{color:green;}
img{width:1000px;}
#bear{width:750px}
a{font-size: 100px}
#biggeranchor{font-size:120px}